.chartBoxBigWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    .chartBox {
        width: 900px;
        
    }
    .moreTextBigChart {
        width: 20%;
        padding: 30px;
        width: 300px;
    }
}