.chartBoxBigWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    text-align: left;
    position: fixed;
    touch-action: none;
    
 
    @media (max-width:1300px) {
        & {
            top: 81px;
        }
    }


    .chartBox {  
       width: 75%; 

       @media (max-width: 1300px) {
           & {
            width: 100%; 
           }
       }
     
    }
   
 
    .moreTextBigChart {
        padding: 30px;
        flex-grow: 1;
        flex-shrink: 1;
    }
   
}

.legend {

  z-index: 20;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: #192231;
  position: absolute;
  top: 81px;
  @media (max-width: 1300px) {
      & {
          top: 0px;
      }
  }
  .colorBox {

      display: flex;
      align-items: center;
      color: white;
      padding: 5px;


      span {
        margin-right: 20px;
        margin-left: 20px;
         height: 5px;   
         width: 30px;        
        background: violet;

      }

     
  }
  


} 