.sectionWrapper
 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  h1 {
      letter-spacing: 5px;
      color: white;
      font-size: 20px;
    }
    .chartBox {  
     position: relative ; 
     width: 100%;
     height: auto;
     text-align: center;
     background-color: #24344D;  
    
    
    }

    a {
      margin: 10px;
    }
    

     @media (max-width: 1300px) {
      a {
       flex: 1 1 1200px;
      }  };

      @media (min-width: 1200px) {
      a {
       flex: 1 1 550px;
      }  }

      .legend {
       top: 0;
      }
      
      

    

   }

