.sectionWrapper
 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  // @media (max-width: 1200px) {
  //   padding: 20px 0;
    
  //  }
  h1 {
      letter-spacing: 5px;
      color: white;
      font-size: 20px;
    }
    .chartBox {  
     position: relative ; 
     width: 100%;
     height: auto;
     text-align: center;
     background-color: #24344D; 
     margin: 10px;
     @media (max-width: 1300px) {
    & {
     flex: 1 1 1200px;
    }  };

    @media (min-width: 1200px) {
    & {
     flex: 1 1 550px;
    }  }
    
    }

   
    

     @media (max-width: 1300px) {
      a {
       flex: 1 1 1200px;
      }  };

      @media (min-width: 1200px) {
      a {
       flex: 1 1 550px;
      }  }

      .legend {
       top: 0;
         svg {
           width: 24px;
           height: 24px;
         }
          
      }  

   };

  

 
